.app {
  display: grid;
  width: 100%;
  grid-template-areas: "h h" "c c";

  grid-template-rows: 70px ;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

.appContainer {
  grid-area: c;
  background-color: rgb(187, 185, 185);
  min-height: 82vh;
}